#signin-form input {
  font-size: 16px;
  padding: 13px 10px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #a1a1a4;
}

/*Password*/
#signin-form #api input#password {
  font-size: 16px;
  box-shadow: none;
}

#signin-form #api a#forgotPassword {
  font-size: 16px;
  bottom: 152px;
}

#signin-form #api .entry-item {
  text-align: left;
}

#signin-form #api .password-label {
  height: auto;
  position: static;
  font-size: 16px;
  font-weight: 400;
}

#signin-form #api .entry-item label {
  display: block;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

#signin-form #api h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.unified_container .row {
  vertical-align: top;
}
