#signin-form input {
  font-size: 16px;
  padding: 13px 10px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #a1a1a4;
}

/*Password*/
#signin-form #api input#password {
  font-size: 16px;
}

#signin-form #api a#forgotPassword {
  font-size: 16px;
  bottom: 85px;
}

#signin-form #api .entry-item {
  text-align: left;
}
