a {
  color: #00818A;
  text-decoration: underline;
}

#signin-form #api button {
  background-color: #00818A;
  font-size: 16px;
  padding: 9px 20px;
}

#signin-form input {
  font-size: 16px;
  padding: 13px 10px;
  border-radius: 4px;
  border-width: 2px;
  border-color: #a1a1a4;
  width: 251px;
}

/*Password*/
#signin-form #api input#password {
  font-size: 16px;
  box-shadow: none;
  width: 251px;
}

#signin-form #api a#forgotPassword {
  font-size: 16px;
  bottom: 171px;
}

#signin-form #api .entry-item {
  text-align: left;
  padding-bottom: 15px;
}

#signin-form #api .password-label {
  height: auto;
  position: static;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 9px;
}

#signin-form #api .entry-item label {
  display: block;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 9px;
}

#signin-form #api h2 {
  margin-bottom: 21px;
  font-size: 26px;
}

.unified_container .row {
  vertical-align: top;
}
